a.out
.vscode
output*.trace
output.vcd
run.log
gen.log
jumptab16.v
jumptab64.v
microcode.v
work/
*.dump
*.lst
*.b6
*.o
*.vcd
*.obj
*.dis
*.punch
transcript
toolchain/as/as
toolchain/as/dis
toolchain/ld/ld
board/de10-lite/project/*
test/*/*.mif
